.stats {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;      
    padding: 50px;
}

.statcard {
    
    width: calc(50% - 10px); 
    
    background-color: #111827;
    height: 200px;
    border-radius: 20px;
    color: #8B5CF6;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.gray{
    color:#9CA3AF;
    font-size: large;
}