
.footer-custom {
  background-color: #0B0F19; 
  border-top: 1px solid rgba(255, 255, 255, 0.05); 
  margin-top: auto; 
}

.text-dim {
  color: #4B5563; 
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #111827; 
  color: #9CA3AF; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  font-size: 1.2rem;
  text-decoration: none;
}


.social-btn:hover {
  background-color: #8B5CF6; 
  color: #ffffff;
  transform: translateY(-3px); /* Slight lift */
  box-shadow: 0 4px 12px rgba(139, 92, 246, 0.4); /* Purple Glow */
  border-color: #8B5CF6;
}
.footer{
    font-size: medium;
}