.gray {
  color: #9ca3af;
  font-size: large;
}
.date {
  color:#8b5cf6;
  font-size: medium;
}
.projectcard{
    width: auto;
    transition: transform 0.4s ease;
}
.projectcard:hover{
  transform: translateY(-10px);
}
.title{
    justify-content: center;
}